.welcome-header {
  margin: 76px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 31px;
}
.welcome-header_text {
  font-size: 13px;
  opacity: 40%;
  width: 60%;
}
#login-form {
  display: flex;
  flex-direction: column;
  height: 266px;
  margin: 0px 27px;
}

#login-form input {
  padding: 10px 0px;
  border: none;
  font-size: 15px;
  margin-bottom: 12px;
  background-color: #f8cacb;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}
